.vscode/

chapter2-C++/section1/genshin
chapter2-C++/section2/main
chapter2-C++/section3/main
chapter2-C++/section4/build

chapter3-OpenCV/section1/build
chapter3-OpenCV/section2/build
chapter3-OpenCV/section4/build
